.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin: 0 auto;
}

.login {
    display: flex;
    justify-content: center;
}

.title {
    padding-left: 20px;
}

.body {
    padding-bottom: 25px;
}

@media screen and (min-width: 1200px) {
    .body {
        margin: 0 20vw;
    }
}