.info {
    width: min(35vw,150px);
}

.title {
    font-weight: 600;
    line-height: 1.2em;
    height: 2.5em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 10px;
}

.author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
    margin-bottom: 0;
    margin-top: 0px;
    opacity: 0.5;
}

.price_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.price {
    font-size: 1em;
    margin: 0 5px 0 0;
    font-weight: 500;
}

.price_free {
    font-size: 1em;
    margin: 8px 5px 0 0;
    font-weight: 500;
}

.image {
    position: relative;
    width: min(35vw, 150px);
    box-shadow: 4px 4px 2px -2px rgb(185, 178, 178);
    transition: transform .2s ease-in-out;
}

.image:hover {
    transform: scale(1.1);
    overflow: visible;
    cursor: pointer;
    z-index: 300;

}

.book_inner_div {
    overflow-y: visible;
}