.main {
}

.section1 {
  background-image: url("../public/home/bkgdsvg.svg");
  background-size: cover; /* Resize the background image to cover the entire container */
  min-height: 100vh;
}

.section1_footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -30px;
}

.logo {
  padding-top: 10rem;
  text-align: center;
}

.title {
  color: white;
  font-size: 10.0vw;
  padding: 0;
  margin: -25px 0 25px 0;
  text-align: center;
}

.subtitle {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
  padding: 0px 15px;
}

@media (min-width: 600px) {
  .title {
    font-size: 5.0vw;
  }

  .logo {
    padding-top: 7rem;
  }
}
