.component {
    padding: 10px 15px 0px 15px;
    margin-right: 10px;
    width: 100vw;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 15px;
}

.list::-webkit-scrollbar {
    display: none;
}

.title {
    margin-bottom: 10px;
}

.book {
    position: relative;
}
