.component {
    width: 100vw;
    margin-bottom: 40px;
}

.list {
    padding: 15px 15px 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: visible;
    scroll-behavior: smooth;
    gap: 18px;
}

.list::-webkit-scrollbar {
    display: none;
}


.list > div:hover {
    cursor: pointer;
}

.title {
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 35px;
}

.book {
    position: relative;
    overflow: visible;
}

.book_inner_div {
    overflow: visible;
}
