.component {
    width: 100vw;
}

.list {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 15px;
}

.list::-webkit-scrollbar {
    display: none;
}

.title {
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 35px;
}

.book {
    position: relative;
}
